*{
    box-sizing: border-box;
   
}

body, html{
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #eab63f, #FFD166, #FFDD90);
}

body{
    height: 100%;
}

a{
    text-decoration: none;
}

form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form label{
    text-align: center;
    position: absolute;
    top: 0;
    margin: 0 0 5px 0;
}

h1, h2, h3{
    text-align: center;
    margin: 0;
}

nav{
    list-style: none;
    display: flex;
    flex-direction: row;
}

li{
    margin: 10px;
}

md-datepicker{
    background-color: #fff;
}

.formSection{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 190px;
    height: 150px;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.submitSection{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputChoice{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
    border: 1px solid black;
}

.movieCard{
    position: relative;
    min-width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
}

.movieCard p{
    margin: 0 0 5px 0;
}

.movieDeleteBtn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}

.cardInfo{
    position: absolute;
    bottom: 0;
}

.confirmBox{
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: rgba:(0,0,0,0.5);
    height: 50%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.confirmBox p {
    width: 100%;
    text-align: center;
}

.deleteCell{
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.deleteGenreBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deleteGenreBox p {
    margin: 0;
}

.moviePic{
    position: absolute;
    top: 0;
    height: 50%;
    width: 90%;
    z-index: 2;;
}


.tableContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.tableContainer table{
    width: 90%;
}

.tableContainer td{
    height: 30px;
}

.genreInfo{
    text-align: center;
}


#newGenre{
    width: 100%;
}