<div class="container">

    <h2>Collection</h2>
    <!--movie cards containers-->
    <div class="moviesContainer">
        <div class="sortContainer">
            <!--select for sorting-->
            <div class="collectionSection">
                <label for="#genrePicker">Filter by Genre</label>
                <select name="genreSelect" 
                    ng-model="vm.genre"
                    ng-change="vm.getMovies(vm.genre)" 
                    id="genrePicker">
                    <option value="">Please select</option>
                    <option value="allMovies">All</option>
                    <option ng-repeat="genre in vm.genresArr" value="{{genre.name}}">{{genre.name}}</option>
                </select>
            </div>
        </div>
        <div class="cardsContainer">
            <div class="movieCard" ng-repeat="movie in vm.moviesArr">
                <div class="confirmBox" ng-hide="movie.isHidden" ng-init="vm.isHidden = true">
                    <p class="question">Delete this movie?</p>
                    <button class="yesBtn" ng-click="vm.deleteMovie(movie.title, movie.plot)">Yes</button>
                    <button class="noBtn" ng-click="movie.isHidden = true">No</button>
                </div>
                <button class="movieDeleteBtn" ng-click="movie.isHidden = !movie.isHidden"><i class="fas fa-times"></i></button>
                <img class="moviePic" src="{{movie.image_url}}">
                <div class="cardInfo">
                    <p><b>{{movie.title}}</b></p>
                    <p> released: {{movie.release_date}}</p>
                    <p> run time: {{movie.run_time}}</p>
                    <p>{{movie.genre}}</p>
                </div>
            </div>
        </div>
    </div>


</div>