<div class="container genreContainer">
    <h2>Genres</h2>
    <!--form for adding genre-->
    <div class="formContainer">
        <form name="userForm"
            ng-submit="vm.addGenre(vm.genreToAdd, userForm$valid)"
            ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }"
            novalidate>
            <input ng-model="vm.genreToAdd.name" type="text" placeholder="e.g. comedy" required/>
            <md-button id="submitGenreBtn" 
                ng-disabled="userForm.$invalid"
                ng-click="vm.addGenre(vm.genreToAdd)"
                class="md-raised md-primary">Submit</md-button>
        </form>
    </div>
    <!--table of genres with count of movies-->
    <!--LATER add pagination to table-->
    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th>Genre</th>
                    <th>Total Movies</th>
                    <!--spacer for delete button-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="genre in vm.genreCountArr">
                    <td class="genreInfo">{{genre.name}}</td>
                    <td class="genreInfo">{{genre.count}}</td>
                    <td class="deleteCell">
                        <button class="genreDeleteBtn" 
                            ng-click="genre.isHidden = !genre.isHidden">
                            <i class="fas fa-times"></i>
                        </button>
                        <div class="deleteGenreBox" ng-hide="genre.isHidden">
                            <p>Delete this genre?</p>
                            <button class="yesBtn genreBtns" ng-click="vm.deleteGenre(genre)">Yes</button>
                            <button class="noBtn genreBtns" ng-click="genre.isHidden = true">No</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!--click on genre to view all movie of only that genre-->
</div>