<div class="container">
    <h2>All Movies</h2>
    <!--form for movie input-->
        <!--ability to add new genre or pick from existing genres:
                show/hide text input/ select option dropdown-->
    <div class="formContainer">
        <form ng-submit="vm.addMovie(vm.movieToAdd, vm.myDate)">
            <h3>Add Movie</h3>
            <div class="formSection">
                <label for="#movieTitle">Title</label>
                <input ng-model="vm.movieToAdd.title" id="movieTitle" type="text" placeholder="e.g. Almost Famous" />
            </div>
            <div class="formSection">
                <label for="#releaseDate">Release Date</label>
                <!--angular material date picker-->
                    <md-datepicker ng-model="vm.myDate" 
                        md-current-view="year" 
                        md-placeholder="Enter date"
                        ></md-datepicker>
            </div>
            <div class="formSection">
                <label for="#runTime">Run Time (min)</label>
                <input ng-model="vm.movieToAdd.run_time" id="runTime" type="number" step="1.00" placeholder="120 min"/>
            </div>
            <div class="formSection">
                <div class="genrePickContainer">
                    <!--drop down -->
                    <div class="inputChoice" ng-show="vm.isShown">
                        <label for="#genrePicker">Genre</label>
                        <select id="genrePicker" ng-model="vm.movieToAdd.genre">
                            <option disabled value="">Please select</option>
                            <option ng-repeat="genre in vm.genresArr">{{genre.name}}</option>
                        </select>
                        <p>OR</p>
                        <button type="button" 
                                ng-click="vm.isShown = !vm.isShown" 
                                ng-init="vm.isShown = true">
                                Add New Genre
                        </button>
                    </div>
                    <div class="inputChoice" ng-hide="vm.isShown">
                        <!-- add new genre-->
                        <label for="#newGenre">New Genre</label>
                        <input ng-model="vm.movieToAdd.genre" id="newGenre" type="text" placeholder="mystery" />
                        <p>OR</p>
                        <button type="button" 
                                 ng-click="vm.isShown = !vm.isShown" 
                                 ng-init="vm.isShown = true">
                                 Select Existing Genre
                        </button>
                    </div>
                </div>
            </div>
            <div class="formSection">
                <button>Submit</button>
            </div>
        </form>
    </div>                
    <!--movie cards containers-->
</div>